[package]
name = "ec-client-db"
version = "0.1.0"
authors = ["patract labs <https://github.com/patractlabs>"]
edition = "2018"

[dependencies]
kvdb = "0.7.0"
kvdb-rocksdb = { version = "0.9.1" }
log = "0.4"

sp-std = { version = "2.0.0", git = "https://github.com/paritytech/substrate", branch = "master" }
sp-runtime = { version = "2.0.0", git = "https://github.com/paritytech/substrate", branch = "master" }
sp-database = { version = "2.0.0", git = "https://github.com/paritytech/substrate", branch = "master" }
sp-blockchain = { version = "2.0.0", git = "https://github.com/paritytech/substrate", branch = "master" }


sc-client-db = { version = "0.8.0", features = [ "with-kvdb-rocksdb", "with-parity-db" ], git = "https://github.com/paritytech/substrate", branch = "master" }

ec-client-api = { path = "../api" }

