[package]
name = "ec-cli"
version = "0.1.0"
authors = ["patract labs <https://github.com/patractlabs>"]
edition = "2018"

[dependencies]
futures = "0.3.4"
chrono = "0.4.10"
regex = "1.3.4"
structopt = "0.3.8"
log = "0.4"
tokio = { version = "0.2.21", features = [ "signal", "rt-core", "rt-threaded", "blocking" ] }

sc-cli = { version = "0.8.0" }
sp-utils = { version = "2.0.0" }
sp-keyring = { version = "2.0.0" }

ec-service = { path = "../service" }
